* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --transition: all 300ms ease-in-out;
  --darkblue: #0f2a59;
  --darkpurple: #200e32;
}

.flex {
  display: flex;
}

.container {
  max-width: 1366px;
  width: 85%;
  margin: 0 auto;
}

.pt-3 {
  padding-top: 3rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  color: var(--darkblue);
  font-weight: bold;
  font-weight: 700px;
  cursor: pointer;
  margin-left: 12px;
}

.menu-bar {
  display: none;
}

.nav {
  padding: 0 20px;
}

.navbar {
  margin-right: 195px;
}

.nav:nth-child(2) {
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
}

.nav:hover {
  color: var(--darkblue);
}

.change-languages {
  align-items: center;
}
.flag {
  margin-left: 0.5rem;
  cursor: pointer;
}

.flag:last-child {
  padding: 4px;
  border-radius: 6px;
  background-color: #e4f2ff;
  cursor: pointer;
}

/********main***********/

.main h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

.main p {
  font-size: 14px;
  width: 70%;
  opacity: 0.6;
}
/********footer********/
.footer {
  position: relative;
  background: #000;
  height: 100%;
  margin-top: 79px;
  align-items: center;
  color: ;
}

.communication {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  font-size: 13px;
}

.communication i {
  color: var(--darkblue);
  font-size: 16px;
}

.communication span {
  color: #fff;
}

.communication h2 {
  color: #fff;
  font-size: 25px !important;
}

.communication h2 {
  margin-bottom: 21px;
}

.phone {
  margin-bottom: 15px;
}

.phone-info {
  margin-bottom: 7px;
}

.phone i {
  margin-right: 16px;
}

.social-medias {
  padding-top: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.social-media {
  margin-bottom: 18px;
}

.fa-facebook-f {
  margin-right: 18px !important;
}

.fa-instagram {
  margin-right: 14px !important;
}

.social-media i {
  margin-right: 10px;
}

.location {
  margin-top: 7px;
}

.location i {
  margin-right: 20px;
}

.fa-location-dot {
  margin-top: 20px;
}

.map {
  margin-left: 5px;
  width: 869px;
  height: 342px;
  margin-bottom: 14px;
}

.footer .container {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  padding-top: 55px;
}

.footer p {
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
}

@media screen and (max-width: 1250px) {
  .map {
    width: 200%;
  }
}

@media screen and (max-width: 998px) {
  .menu-bar {
    display: block;
  }

  .navbar,
  .change-languages {
    display: none;
  }
  .map {
    width: 120%;
  }

  .footer {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .communication {
    margin-bottom: 20px;
  }
  .footer .container {
    flex-direction: column;
  }
  .map {
    width: 100%;
    height: 50%;
  }
  .info-block .info {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 576px) {
  .communication h2 {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 480px) {
  .communication h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 320px) {
  .communication h2 {
    font-size: 18px !important;
  }
}
